body {
  font-family: $font;
}

// modify the .container width
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

a {
  color: $brand-lightblue;
  @include transition(color 0.1s linear, background-color 0.1s linear);

  &:hover {
    color: darken($brand-lightblue,5);
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}
