// text helper class
.uppercase { text-transform: uppercase }

img {
  max-width: 100%;
  height: auto;
}

.text {
  &-success {
    color: $color-success;
  }

  &-danger {
    color: $color-fail;
  }
}
