// font
$font: 'Proxima Nova', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$amatic: 'Amatic SC', cursive;

// color
$brand-lightblue: #29aae1;
$brand-darkblue: #0071bc;

$color: #2e3137;
$color-lighter: #6a717f;
$color-lightgrey: #eff1f4;

$color-success: #28b48e;

$color-reverse-lightblue: #b6e2ff;
$color-reverse-grey: #98a2b4;

$border-color: #dce2ee;

// line-height
$line-height: 1.42857143;
