@import "bourbon";

// local variables and mixins
@import "_var";
@import "_mixin";

$color-tab: #4a667d;
$color-tab-selected: #ffe87a;

// header
.comparison-header {
  background: #81cce4 url(../img/comparison-header-bg.jpg) center top no-repeat;
  background-size: auto 100%;
  padding-top: 30px;

  &-label {
    font-weight: 700;
    color: #fff;
    background-color: $brand-lightblue;
    height: 26px;
    line-height: 26px;
    padding: 0 8px 0 10px;
    margin-bottom: 10px;
    float: left;
    @include font-size(1.2);
    position: relative;

    &:before, &:after {
      position: absolute;
      content: '';
      display: block;
    }

    &:before {
      @include size(0 0);
      border: 3px solid;
      border-color: darken($brand-lightblue,10) darken($brand-lightblue,10) transparent transparent ;
      left: 0;
      top: 100%;
    }

    &:after {
      @include size(6px 100%);
      background: url(../img/comparison-header-label.svg) no-repeat top;
      background-size: 6px auto;
      top: 0;
      left: 100%;
    }
  }

  &-title {
    clear: left;
    float: left;
    font-family: $amatic;
    @include font-size(6);
    margin-top: 0;
    text-shadow: 2px 2px 0 rgba(#fff,.3);
    background: url(../img/dotted-underline.png) bottom left repeat-x;
    background-size: auto 4px;
    display: inline-block;
  }

  &-description {
    clear: left;
  }

  &-tabs {
    margin: 20px 0 0;
    @include font-size(1.6);
    vertical-align: bottom;

    li {
      display: inline-block;
      width: 33%;
      margin-left: .5%;
      vertical-align: bottom;


      &:first-child {
        margin-left: 0;
      }

      a {
        display: block;
        padding: 15px;
        text-align: center;
        background: $color-tab;
        color: #9eaebc;
        border-top: 1px solid transparent;
        font-weight: 700;
        position: relative;
        @include transition(none);

        &:hover {
          background-color: darken($color-tab,8);
        }
      }

      &.selected {
        a {
          background-color: $color-tab-selected;
          color: $color;
          border-top: 1px dashed darken($color-tab-selected, 20);
          box-shadow: 0 -3px 0 $color-tab-selected;

          &:after {
            position: absolute;
            width: 0;
            height: 0;
            content: '';
            display: block;
            border: 10px solid;
            border-color: $color-tab-selected transparent transparent;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            z-index: 2;
          }
        }

        .icon-comparison { background-position: 0 -26px; }
        .icon-3things { background-position: -25px -26px; }
        .icon-faq { background-position: -63px -26px; }

      }
    }

    [class*="icon-"] {
      background: url(../img/comparison-tab-icons.png) no-repeat;
      @include background-size(81,53);
      display: inline-block;
      vertical-align: middle;
      position: relative;
      left: -5px;
      height: 26px;
    }

    .icon-comparison {
      width: 21px;
      background-position: 0 0;
      top: -2px;
    }

    .icon-3things {
      width: 33px;
      background-position: -25px 0;
    }

    .icon-faq {
      width: 16px;
      background-position: -63px 0;
    }
  }
}

// main
.comparison-main {
  padding: 20px 0 30px;
}

.comparison-filters {
  margin: 20px 0;

  &-title {
    font-weight: 700;
    margin-right: 5px;
    @include font-size(1.2);
  }

  select.form-control {
    @include font-size(1.2);
    width: 200px;
    padding-left: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
  }
}

.comparison-table {
  thead {
    > tr {
      >th {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;

        // &:first-child, &:nth-child(3), &:nth-child(6), &:last-child {
        //   text-align: center;
        // }
      }
    }
  }

  tbody {

    > tr {

      &:hover {
        td {
          background: lighten($color-lightgrey,3);
        }

        .column-action {
          background: $color-lightgrey;
        }
      }

      td {
        //text-align: center;
        border-top: none;
        border-bottom: 1px solid $border-color;
        vertical-align: middle;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        @include transition(0.1s background-color linear);

        &:first-child {
          text-align: left;
          width: 20%;
        }

        &:nth-child(2) {
          width: 18%;
        }


      }
    }
  }

  .column-action {
    background: lighten($color-lightgrey,3);
    vertical-align: middle;
  }


  h5 {
    font-weight: 400;
  }
}

.more-info {
  color: $color-lighter;
  @include font-size(1.2);

  + .uni-fees-title {
    margin-top: 10px;
  }
}

.uni {
  &-logo {
    float: left;
    max-width: 100px;
    max-height: 50px;
    margin-right: 10px;
  }

  &-info {
    padding-left: 110px;

    &-title {
      margin: 0;
      font-weight: bold;
    }
  }

  &-credits {
    &-title {
      margin: 0;
    }
  }

  &-fees {
    &-title {
      margin: 0
    }
  }
}




//
.tablesorter {
  th {
    cursor: pointer;
    background: $color-lightgrey url(../img/tablesorter-sort-inactive.png) center bottom no-repeat;
    background-size: 10px 10px;

    &.sorter-false {
      background-image: none;
      cursor: inherit;
    }

    // &:hover {
    //   background: darken($color-lightgrey,5);
    // }

    &.primary {
      background-color: $brand-lightblue;
      color: #fff;
    }

    &.tablesorter-headerAsc {
      background-image: url(../img/tablesorter-asc.png);
    }

    &.tablesorter-headerDesc {
      background-image: url(../img/tablesorter-dsc.png);
    }


  }

  td {
    &.primary {
      background-color: rgba($brand-lightblue,.1);
    }
  }

  tr:hover {
    td.primary {
      background-color: rgba($brand-lightblue,.2);
    }
  }
}





// scorecard

.scorecard {
  background: url(../img/comparison-rating-good.png) no-repeat;
  @include size(90px 102px);
  @include background-size(90, 102);
  display: inline-block;
  color: #fff;
  cursor: pointer;
  text-align: center;

  &.scorecard-best {
    background-image: url(../img/comparison-rating-best.png);
  }

  &-rating {
    margin-top: 8px;
    line-height: 20px;
  }

  &-score {
    margin: 2px 0 0;
    line-height: 40px;
    @include font-size(3.6);
    font-weight: 700;
  }

  &-expand {
    @include size(20px 20px);
    border-radius: 50%;
    background: saturate(darken($brand-lightblue,14),10);
    margin: 0 auto;
    position: relative;

    .scorecard-best & {
      background: saturate(darken($color-success,12),10);
    }

    &:before {
      content: '+';
      font-weight: 700;
      @include font-size(1.8);
      line-height: 20px;
      // position: relative;
      // left: 0.5px;
    }
  }

  &:hover {
    .scorecard-content {
      opacity: 1;
      visibility: visible;
    }
  }

  &-content {
    opacity: 0;
    visibility: hidden;
    @include transition(opacity 0.3s ease-in-out, visibility 0.3s ease-in-out);
    @include font-size(1.3);
    text-align: left;
    position: absolute;
    color: $color;
    border: 3px solid $color-lighter;
    border-radius: 6px;
    background: #fff;
    top: 110%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
    cursor: auto;
    z-index: 5;

    &-inner {
      position: relative;

      &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #fff;
        display: block;
        top: -20px;
        left: 50%;
        margin-left: -10px;
      }

      &:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-width: 12px;
        border-style: solid;
        border-color: transparent transparent $color-lighter;
        display: block;
        top: -27px;
        left: 50%;
        margin-left: -12px;
      }
    }
  }

  &-list {
    list-style: none;
    padding: 10px;
    margin-bottom: 0;

    &-criteria {
      font-weight: 700;
      width: 52%;
      text-align: right;
      padding-right: 8px;
    }

    li {
      display: table;
      width: 100%;

      > * {
        display: table-cell;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
      }
    }
  }

  &-star {
    img {
      width: 18px;
      display: block;
      float: left;
      margin-right: 2px;
    }

    span {
      margin-left: 5px;
    }
  }

  &-comment {
    color: #fff;
    background: $brand-lightblue;
    padding: 10px;
    border-radius: 0 0 3px 3px;

    .scorecard-best & {
      background-color: $color-success;
    }
  }
}




// faq and 3 important things
.important-container, .faq-container {
  margin: 20px -5px 0;
}
.column {
  padding: 0 5px;
}

.important-block, .faq-block {
  background: $brand-darkblue;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
  @include font-size(1.3);
  @include transition(background-color 0.1s linear);

  &:hover {
    background-color: $color-tab;

    &:after {
      border-color: darken($color-tab,5) #fff #fff darken($color-tab,5);
    }
  }

  &:after, &:before {
    position: absolute;
    bottom: 0;
    right: 0;
    @include size(0 0);
    content: '';
    display: block;
    border: 10px solid;
    @include transition(border-color 0.1s linear);
  }

  &:before {
    right: 20px;
    border-color: transparent rgba(0,0,0,.05) rgba(0,0,0,.05) transparent;
  }

  > h4 {
    margin-top: 0;
    font-weight: 700;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.important-block {
  &:after {
    border-color: darken($brand-darkblue,10) #fff #fff darken($brand-darkblue,10);
  }
}

.faq-block {
  background-color: $brand-lightblue;

  &:after {
    border-color: darken($brand-lightblue,10) #fff #fff darken($brand-lightblue,10);
  }
}

@media (min-width: 1200px) {
  .column {
    width: 33.33% !important;
  }
}
