@import "bourbon";
@import "_var";
@import "_mixin";

// header
.slider {
  position: relative;

  //padding-top: 35%;
  min-height: 400px !important;
  max-height: 550px;
  overflow: hidden;

  &-content {
    position: absolute;
    top: 50%;
    width: 100%;
    @include transform(translateY(-50%));
  }

  &-1, &-2, &-3, &-4 {
    background-size: cover;
  }
  &-2, &-3, &-4 {
    display: none;
  }

  &-1 { background: url(../img/slider-1.jpg) center no-repeat; }
  &-2 { background: url(../img/slider-2a.png) center no-repeat; }
  &-3 { background: url(../img/slider-3a.jpg) center no-repeat; }
  &-4 { background: url(../img/slider-4.jpg) center no-repeat; }

}

[role="main"] {
  overflow: hidden;
}

.home {

  &-title {
    color: $brand-darkblue;
    margin-top: 0;
    line-height: 1.2;
    @include font-size(4);
    margin-bottom: 20px;
  }

  &-preu {
    @include font-size(2.2);
    color: $color-lighter;


    &-btn {
      color: #fff;
      background: $brand-lightblue;
      display: inline-block;
      padding: 10px 0 10px 20px;
      border-radius: 3px;
      margin: 0 10px 10px 0;
      @include font-size(1.5);

      &:hover {
        color: #fff;
        background: $brand-darkblue;
      }

      span {
        background: #f3e222;
        color: $color;
        display: inline-block;
        padding: 3px 5px;
        margin-left: 10px;
        border-radius: 3px;
        position: relative;
        left: 5px;
        @include font-size(1.3);
      }
    }
  }
}

@media (max-width: 767px) {
  .home {
    &-title {
      @include font-size(3);
    }

    &-preu {
      @include font-size(1.5);
    }
  }
}

@media (max-width: 479px) {
  .slider-1 {
    .col-xs-10 {
      width: auto;
    }
  }
  .home {
    &-title {
      @include font-size(2.4);
    }

    &-preu-btn {
      @include font-size(1.4);
      padding: 5px 0 5px 10px;
      margin-right: 5px;

      span {
        margin-left: 0;
      }
    }
  }
}



// section

.section {
  &-title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
  }

  &-subtitle {
    color: $color-lighter;
  }
}



// what we do
.what-we-do {
  padding: 60px 0;
  text-align: center;

  &-list {
    margin-top: 20px;

    p {
      color: $color-lighter;
    }
  }

  &-icon-1 { background-position: 0 0}
  &-icon-2 { background-position: -140px 0}
  &-icon-3 { background-position: -280px 0}
  &-icon-4 { background-position: -420px 0}
}

[class*="what-we-do-icon-"] {
  background-image: url(../img/what-we-do-icons.png);
  @include size(140px 140px);
  @include background-size(560, 140);
  margin: 0 auto 20px;
}



// why
.why {
  background: $brand-lightblue url(../img/bg-sky.jpg) center;
  color: #fff;
  text-align: center;


  .container {
    padding: 100px 0;
    background: url(../img/home-why-human.png) center bottom no-repeat;
    background-size: 317px 216px;
  }

  .section-title {
    margin-top: 0;
    opacity: .95;
    text-shadow: 0 1px 1px rgba(0,0,0,.25);
  }

  q {
    font-weight: 300;
    @include font-size(2);
    //margin-top: 30px;
    display: inline-block;
    opacity: .95;
    text-shadow: 0 1px 1px rgba(0,0,0,.25);
  }
}


// articles
.articles {
  padding: 60px 0;

  &-container {
    margin: 30px 0;

    // &:hover {
    //   .slick-arrow {
    //     opacity: 1;
    //   }
    // }
  }

}

.article {
  padding: 10px;

  a {
    display: block;
    position: relative;
    color: #fff;

    &:hover {
      .article-title {
        color: $brand-lightblue;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  time {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 12px;
    background: rgba($brand-darkblue,.6);
    @include font-size(1.1);
    text-align: center;

    span {
      display: block;
    }

    .month {
      text-transform: uppercase;
    }

    // &:before {
    //   position: absolute;
    //   content: '';
    //   display: block;
    //   width: 0;
    //   height: 0;
    //   left: 0;
    //   top: 100%;
    //   border: 3px solid;
    //   border-color: darken($brand-darkblue,5) darken($brand-darkblue,5) transparent transparent;
    // }
  }

  &-detail {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: rgba($color,.75)
  }

  &-title {
    margin: 0;
    @include font-size(1.5);
    @include transition(color 0.1s linear);
    font-weight: 400;
  }
}

// modify the slick dots
.home-slider, .articles {
  .slick-dots {
    li {
      @include size(12px 12px);

      &.slick-active {
        button {
          background-color: $brand-lightblue;
        }
      }

      button {
        border-radius: 50%;
        @include size(12px 12px);
        background: lighten($color-lighter,20);

        &:before {
          display: none;
        }
      }
    }
  }
}

.slick-arrow {
  position: absolute;
  text-indent: 100%;
  overflow: hidden;
  background: url(../img/home-carousel-arrows.png) no-repeat;
  background-size: cover;
  cursor: pointer;

  .articles & {
    bottom: -40px;
    @include size(24px 24px);
    //@include transition(all 0.1s linear);
    //@include transform(translateY(-50%));

    z-index: 10;

    &-prev {
      left: 0;
    }

    &-next {
      background-position: -24px 0;
      right: 0;
    }
  }

  // .home-slider & {
  //   @include size(48px 48px);
  //   background-size: auto 30px;
  //   background-color: #fff;
  //   background-position: 8px center;
  //   border-radius: 50%;
  //   top: 50%;
  //   @include transform(translateY(-50%));
  //   box-shadow: 0 0 0 5px #fff;

  //   &-prev {
  //     left: 10px;
  //   }

  //   &-next {
  //     background-position: -20px center;
  //     right: 10px;
  //   }
  // }
}

// @media (max-width: 992px) {
//   .slick-arrow {
//     display: none !important;
//   }
// }

