@import "bourbon";
@import "_var";
@import "_mixin";

// header
.slider {
  position: relative;
  padding-top: 30%;
  min-height: 350px;


  &-content {
    position: absolute;
    top: 50%;
    width: 100%;
    @include transform(translateY(-50%));
  }

  &-1 {
    background: url(../img/slider-1.jpg);
    background-size: cover;
  }
}

.home-title {
  color: $brand-darkblue;
  margin-top: 0;
  line-height: $line-height;
}

// section

.section {
  &-title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
  }

  &-subtitle {
    color: $color-lighter;
  }
}



// what we do
.what-we-do {
  padding: 60px 0;
  text-align: center;

  &-list {
    margin-top: 20px;

    p {
      color: $color-lighter;
    }
  }

  &-icon-1 { background-position: 0 0}
  &-icon-2 { background-position: -140px 0}
  &-icon-3 { background-position: -280px 0}
  &-icon-4 { background-position: -420px 0}
}

[class*="what-we-do-icon-"] {
  background-image: url(../img/what-we-do-icons.png);
  @include size(140px 140px);
  @include background-size(560, 140);
  margin: 0 auto 20px;
}



// why
.why {
  background: $brand-lightblue url(../img/bg-sky.jpg) center;
  color: #fff;
  text-align: center;


  .container {
    padding: 100px 0;
    background: url(../img/home-why-human.png) center bottom no-repeat;
    background-size: 317px 216px;
  }

  .section-title {
    margin-top: 0;
    opacity: .95;
    text-shadow: 0 1px 1px rgba(0,0,0,.25);
  }

  q {
    font-weight: 300;
    @include font-size(2);
    //margin-top: 30px;
    display: inline-block;
    opacity: .95;
    text-shadow: 0 1px 1px rgba(0,0,0,.25);
  }
}


// articles
.articles {
  padding: 60px 0;

  &-container {
    margin: 30px 0;
  }
}

.article {

  a {
    display: block;
    position: relative;
    color: #fff;

    &:hover {
      .article-title {
        color: $brand-lightblue;
      }
    }
  }

  time {
    position: absolute;
    top: 0;
    left: -6px;
    padding: 6px 12px;
    background: $brand-darkblue;
    @include font-size(1.1);

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 0;
      height: 0;
      left: 0;
      top: 100%;
      border: 3px solid;
      border-color: darken($brand-darkblue,5) darken($brand-darkblue,5) transparent transparent;
    }
  }

  &-detail {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: rgba($color,.75)
  }

  &-title {
    margin: 0;
    @include font-size(1.8);
    @include transition(color 0.1s linear);
    font-weight: 400;
  }
}
